# Created by venv; see https://docs.python.org/3/library/venv.html

# Python 
__pycache__/
*.py[cod]
.env
venv/

# Büyük Veri Dosyaları 
*.zip
kaggle.json
Train/
Test/
Meta/
data/

# Notebook geçici dosyaları
.ipynb_checkpoints/